[submodule "java"]
	path = java
	url = git://github.com/opscode-cookbooks/java.git
[submodule "ulimit"]
	path = ulimit
	url = git://github.com/bmhatfield/chef-ulimit.git
[submodule "solrcloud"]
	path = solrcloud
	url = git://github.com/timoschmidt/chef-solrcloud.git
[submodule "zookeeper"]
	path = zookeeper
	url = https://github.com/jtescher/chef-zookeeper.git
